# Gradle
.gradle/
build/*
!build/libs/
build/libs/*
!build/libs/omnistrike.jar

# IDE
.idea/
*.iml
.vscode/
.project
.classpath
.settings/

# OS
.DS_Store
Thumbs.db

# Java
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar
!build/libs/omnistrike.jar
